body{
    margin:0;
    font-family: sans-serif;
}
.hashtag-header{
    background-color: #065FD4;
    padding: 5rem;
    color: white;
    background-image: url(/images/background.png);
    background-size:360px;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: -140px;

}
h1{
    margin: 0;
    margin-bottom:1rem;
    font-size: 3rem;
}

.hashtag-header span{
    font-size: 1.5rem;
}
.hashtag-header img{
    width: 5rem;
    border: 5px white;
    border-radius: 100%;
    vertical-align: middle;
}

img + img{
    margin-left: -1rem;
}